
.chat-window{
    position: relative;
    border: solid black;
    border-radius: 5px;   
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
}
.chat-window .input-container{
    position: absolute;
    width: 100%;
    bottom: 0;
}
input{
    width: 70%;
    padding: 2px;
}
.chat-window h3{
    color: red;
}
.chat-window .users{
    position: absolute;
    right: 0;
    top: 40px;
    padding: 20px;
    width: 20%;
    height: 100%;
    border: dashed 1px black;
}
.chat-window .user{
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    padding: 10px 0;
}