/* You can add styles here */
#app{
    background-color: pink;
}
#logo{
    height: 20%;
    background-color: blue;
}
#navbar{
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.container{
    width: 800px;
    height: 500px;
    margin: auto;

}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;

}
NavLink{
   flex-flow: column;
    
}
