/* You can add styles here */
#app{
    background-color: pink;
}

#navbar{
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.container{
    width: 700px;
    margin: auto;

}
ul{
    list-style-type: none;
}

.ple{
    background-color: white;
    border: solid;
}
.ple-img{
    height: 75px;
    width: 75px;
}
.image-logo{
    background-image: url(https://i2.silvergames.com/p/b/bubble-trouble-1.png);
    background-size: cover;
    height: 100px;
    width: 150px;
}
.navLinks{
    padding: 10px;
}
.navs{
    width: 700px;
    margin: auto;
}