@import './toastr.min.css';

body{
    background-image: url('https://banner2.kisspng.com/20180408/ikq/kisspng-club-penguin-island-youtube-wikia-penguins-5aca11a97adcd9.6619900915231922335033.jpg');
    background-attachment: fixed;
    background-position: center;
    margin:auto;
}

h1, h2, h3{
    color: orangered;
}
.logo{
    background-image: url('../src/images/logo.png');
    height: 75px;
    width: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: black solid;
    margin-bottom: 50px;
}

.container{
    height: 700px;
    width: 800px;
    margin: auto;
}

.user-name{
    margin: auto;
    width: 500px;
}

.rooms{
    font-size: 26px;
    width: 600px;
}

.chat-room{
  border: black 1px solid;
  margin: auto;
  padding: 20px;
  background-color: white;
}
.private-chat{
    height: 200px;
    width: 300px;
}
.msg-input{
    width: 150px;
}

.chat-window{
    position: relative;
    border: solid black;
    border-radius: 5px;   
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    background-color: white;
}
.chat-window .input-container{
    position: absolute;
    width: 100%;
    bottom: 0;
}
input{
    width: 70%;
    padding: 2px;
}
.chat-window h3{
    color: red;
    padding: 5px;
    border-bottom: solid 2px black;
}
.chat-window .users{
    position: absolute;
    right: 0;
    top: 45px;
    padding: 20px;
    width: 20%;
    height: 100%;
    border: dashed 1px black;
}
.chat-window .user{
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    padding: 10px 0;
}

.chat-window .op {
    color: blue;
}
.chat-window .button-config{
    float:right;
}